{% extends "base.html" %}
{% block content %}
<div class="container">
    <form id="navigation">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:4925/">
                <button type="submit" id="signup-button" class="btn btn-dark">Home</button>
            </a>
          </li>
        </ul>
    </form>
</div>

<div class="container page-form">
    <form id="login-form" action="/auth/login" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text"
                   id="email"
                   class="form-control"
                   name="email"
                   placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   id="password"
                   class="form-control"
                   name="password"
                   aria-describedby="passwordHelp">
            <small id="passwordHelp" class="text-muted">
                Must be 6-20 characters long.
            </small>
        </div>
            <button type="submit" id="submit-button" class="btn btn-success">Log in</button>

    </form>
</div>
{% endblock %}
